name: "Manually Destroy Infra"

on:
  workflow_dispatch:
    inputs:
      confirmation:
        description: 'Type DESTROY to confirm infrastructure deletion'
        required: true
        default: 'NO'

permissions:
  contents: read

jobs:
  destroy:
    if: inputs.confirmation == 'DESTROY'

    name: "Terraform Destroy"

    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    defaults:
      run:
        working-directory: ./infra

  steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS credentials via OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Destroy
      run: terraform destroy -auto-approve -var-file="dev.tfvars"
